body {
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}

p {
  text-align: center;
}
p.abf {
  color: #828282;
  font-size: 12pt;
  line-height: 2;
}
p.abf.ed {
  font-size: 16px;
  margin-bottom: 17%;
}
p.srp {
  font-size: 18px;
  color: #828282;
}
p.crcl {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
p.nam {
  font-size: 9pt;
  color: #828282;
  text-transform: uppercase;
}
p.bg {
  line-height: 2;
  font-size: 18px;
  color: #52d3aa;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
p.bbg {
  line-height: 2;
  font-size: 18px;
  color: #52d3aa;
  color: #828282;
}
p.bw {
  font-size: 13pt;
  color: #52d3aa;
}
p.CL {
  vertical-align: middle;
  margin-bottom: auto;
}
p.bd {
  text-transform: uppercase;
  font-weight: bold;
  text-align: start;
  color: black;
}
p.bgw {
  line-height: 2;
  font-size: 18px;
  color: #52d3aa;
  margin-left: auto;
  margin-right: auto;
}
p.fp {
  font-size: 13pt;
}
p.fp1 {
  font-weight: bold;
  font-size: 12pt;
}
p.fp3 {
  color: #52d3aa;
  font-size: 13pt;
  text-transform: uppercase;
}
p.fp2.left {
  text-align: left;
  color: #828282;
}

.intro-section {
  text-align: center;
  background-image: url(../img/img_bg_1.jpg);
  background-size: cover;
  height: 100%;
}

a#home-tab {
  color: turquoise;
  color: #b3b3b3;
  padding-top: 7%;
  height: 100%;
  border-color: whitesmoke;
  border-width: 3px;
  color: #52d3aa;
}
a#profile-tab {
  color: turquoise;
  padding-top: 7%;
  color: #52d3aa;
  height: 100%;
  border-color: whitesmoke;
  border-width: 3px;
}
a#contact-tab {
  color: turquoise;
  padding-top: 7%;
  color: #52d3aa;
  height: 100%;
  border-color: whitesmoke;
  border-width: 3px;
}
a#very-tab {
  color: turquoise;
  padding-top: 7%;
  color: #52d3aa;
  height: 100%;
  border-color: whitesmoke;
  border-width: 3px;
}
a.btn.btn-default {
  border-radius: 22px;
  font-size: 27px;
  border-radius: 15px;
  margin-top: 13px;
  background-color: #828282;
  width: 16%;
}
a.btn.btn-default.log {
  background-color: white;
  width: 74px;
  font-size: 13px;
  color: #52d3aa;
}
a.btn.btn-default.page-scroll {
  border-color: none;
  border: none;
  position: fixed;
  right: 8px;
  bottom: 10px;
  border-radius: 10%;
  background-color: #828282;
  opacity: 1.5;
}
a.btn.btn-default.page-scroll.edit {
  right: 21px;
  bottom: 17px;
  width: -3%;
  border-radius: 0;
  border-radius: none;
  position: fixed;
  bottom: 22;
  right: 2;
  border-radius: 6px;
}
a.navbar-brand.page-scroll.list {
  color: white;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  ul.list-unstyled.fp3 {
    font-size: 13pt;
    width: 247px;
    display: inline-block;
    color: black;
    font-size: 13pt;
    width: 247px;
    display: inline-block;
    color: black;
    font-size: 13pt;
    width: 247px;
    display: inline-block;
    color: black;
  }
  ul.list-unstyled.list-inline.text-center.navlist {
    display: none;
    display: none;
    display: none;
  }
  ul.nav.navbar-nav {
    margin-left: 251px;
    font-size: 10pt;
    font-family: Work Sans, Arial, sans-serif;
    margin-left: 251px;
    font-size: 10pt;
    font-family: Work Sans, Arial, sans-serif;
    margin-left: 251px;
    font-size: 10pt;
    font-family: Work Sans, Arial, sans-serif;
  }

  p.srp {
    font-size: 18px;
    color: #828282;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
    color: #828282;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 18px;
    color: #828282;
    margin-left: 200px;
    margin-right: 200px;
  }
  p.bbg {
    line-height: 2;
    font-size: 18px;
    color: #828282;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    font-size: 18px;
    color: #828282;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    font-size: 18px;
    color: #828282;
    width: 704px;
    margin-left: auto;
    margin-right: auto;
  }

  a.btn.btn-default.log {
    background-color: white;
    width: 74px;
    margin-left: 237px;
    font-size: 13px;
    color: #52d3aa;
    background-color: white;
    width: 74px;
    margin-left: 237px;
    font-size: 13px;
    color: #52d3aa;
    background-color: white;
    width: 74px;
    margin-left: 237px;
    font-size: 13px;
    color: #52d3aa;
  }
  a.btn.btn-default.page-scroll {
    width: 53px;
  }
  a.btn.btn-default.page-scroll.edit {
    width: 50px;
  }
}
ul.list-unstyled.fp3 {
  font-size: 13pt;
  display: inline-block;
  color: black;
}
ul.list-unstyled.list-inline.text-center {
  background-color: whitesmoke;
  padding-top: 5%;
  padding-bottom: 5%;
}
ul#myTab {
  background-color: whitesmoke;
  border: none;
}
ul.nav.navbar-nav {
  font-size: 10pt;
  font-family: Work Sans, Arial, sans-serif;
}
ul.list-inline.right {
  float: right;
}

.navbar {
  background-color: transparent;
  border: none;
  position: relative;
  font-color: white;
  padding: 30px 25px;
  text-transform: uppercase;
}

.bigbrand {
  font-size: 30pt;
  font-family: Work Sans, sans-serif;
  color: white;
}

.smallbrand {
  color: white;
  font-size: 15pt;
  margin-bottom: 30px;
}

.space {
  padding-top: 16%;
  PADDING-BOTTOM: 16%;
  vertical-align: middle;
}

.get {
  padding: 0 37px;
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
}

.dp {
  color: #52d3aa;
  border-radius: 29.5px;
}

.about-section {
  padding-top: 5%;
  background: white;
}

.set {
  vertical-align: middle;
  padding-bottom: 16%;
  padding-top: 16%;
}

.bt {
  border-radius: 61px;
  background-color: #52d3aa;
  border: 5px 10px solid #fbfdfc;
  color: white;
  width: 182PX;
  height: 55px;
  border-color: #52d3aa;
  font-size: 15pt;
  color: #52d3aa;
  background-color: white;
  text-transform: uppercase;
}

.row.ser {
  padding-top: 16%;
  padding-bottom: 21%;
}
.row.con {
  padding-top: 27%;
}
.row.bs {
  padding-top: 10%;
  padding-bottom: 7%;
}
.row.bb {
  padding-bottom: 10%;
}
.row.cll {
  border-color: aliceblue;
  font-size: 17px;
  margin-top: 5%;
  border-style: solid;
}
.row.bf {
  padding-top: 10%;
}
.row.bf2 {
  padding-bottom: 10%;
}
.row.efot {
  padding-bottom: 8%;
}

.services-section {
  padding-top: 5%;
  background-color: #efefef;
}

.mdia {
  display: table;
}

img.img-vbg {
  width: 100%;
}
img.img-fluid {
  max-width: 100%;
  width: 50%;
  padding-top: auto;
  padding-top: 21%;
}
img.d-flex.mr-3.rounded-circle {
    margin-top: 14px;
    margin-right: 10px;
    border-radius: 62%;
    width: 50px;
}
.forms-section {
    font-size: 19px;
    background: -webkit-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background-color: #;
    text-align: center;
    
}
img.d-flex.mr-3.rounded-circle.vbg {
  margin-bottom: 7%;
  width: 90px;
}

h1 {
  color: white;
}
h1.hnum {
  font-size: 36pt;
}
h1.big {
  color: black;
  line-height: 2.5;
  font-weight: bold;
}
h1.gdf {
  font-weight: bold;
  padding-bottom: 14%;
}

h5 {
  font-size: 19px;
  color: #5d5d5d;
  padding: 5%;
}
h5.mt-0.tim {
  padding: 2%;
}

.contact-section {
  text-align: center;
  background-image: url(../img/img_bg_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 5%;
}

.num {
  font-size: 13px;
  color: rgba;
  color: rgba(255, 255, 255, 0.5);
}

.cyricl-section {
  text-align: center;
  background: #eee;
}

.big-section {
  text-align: center;
  background: #eee;
  height: 100%;
  padding-top: 150px;
}

li.itm {
  width: 21%;
}
li.nav-item {
  font-size: 18px;
  height: 68px;
  font-size: 16px;
  width: 25%;
}

.bdf {
  text-transform: uppercase;
  text-align: start;
  color: #52d3aa;
}

input::-webkit-input-placeholder {
  color: white !important;
}

.forms-section {
  font-size: 19px;
  text-align: center;
}

.input-group {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.input-group.f {
  border-radius: 5px;
}

.form-control {
  font-size: 5px;
  background-color: transparent;
  border-color: transparent;
  height: 47px;
}

.footr1-section {
  text-align: center;
  background: #eee;
  height: 100%;
  padding-top: 150px;
}

.fot1 {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.footr2-section {
  text-align: center;
  background: #eee;
  height: 100%;
  padding-top: 150px;
}

.copy {
  width: 70%;
}

i {
  color: #52d3aa;
}
i.fa.fa-long-arrow-up {
  font-size: 18px;
  width: 28px;
  color: white;
  font-size: 21px;
  width: 26px;
}

.rounded-centered {
  width: 88px;
  height: 87px;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  border-radius: 50%;
}

.ald {
  color: #52d3aa;
}

.navbar-brand.navbar-brand-left {
  color: white;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
}

button.btn.btn-.btn-md.bt {
  padding: -2pt;
  padding: 3;
  font-size: 10px;
}
button.btn.btn-md.b2 {
  background-color: #52d3aa;
  border-radius: 28px;
  width: 152px;
  height: 44px;
  color: white;
  font-size: 12pt;
  text-transform: uppercase;
}
button.btn.btn-primary.btn-md.bt {
  width: 100%;
}
button.btn.btn-primary.btn-md.bt.bt2 {
  background-color: #52d3aa;
  color: white;
  text-transform: uppercase;
}
button.btn.btn-primary.btn-md.bt.bt2.smbtn {
  font-size: 17px;
}

.col-lg-4.col-sm-4.text-center.mb-4 {
  color: #52d3aa;
}
.col-lg-4.col-sm-4.text-center.mb-4.edt {
  padding-bottom: 20%;
}

.col-lg-3.col-sm-3.text-center.mb-4.nub {
  padding-bottom: 27%;
}
.col-lg-3.col-sm-3.text-center.mb-4.pdng {
  padding: 2%;
  border-color: #f2f2f2;
  color: #52d3aa;
}
.col-lg-3.col-sm-3.text-center.mb-4.pdng.bcg {
  background-color: #f2f2f2;
}

ol.carousel-indicators {
  margin-bottom: 20%;
  position: relative;
}

input.form-control {
  font-size: 12pt;
  border: none;
}

.col-sm-4.col-sm-4.for {
  padding-bottom: 12px;
}

.col-lg-6.vvfot {
  float: right;
}

